<div class="col-xs-12 text-center" style="padding: 40px 0px;position: relative;">
	<img src="http://localhost:4200/assets/img/1-20.png"  alt="" style="margin-bottom: 10px">

	<h2>¿Donde quiere comer su pizza?</h2>
	
	
	<hr class="barra-gris" style="border-bottom: 1px;"> 

	
	<div style="margin-top: 30px;">
		<div class="col-md-6 col-xs-12  text-center">
			<a class="btn btn-primary btn-lg btn-block" (click)="restaurant()">En el restaurant</a>
			<small class="help-text" style="margin-top: 15px;margin-bottom:25px;display: block;">*Con premio especial</small>
		</div>
		<div class="col-md-6 col-xs-12" >
			<a class="btn btn-primary btn-lg btn-block" (click)="delivery()">Delivery</a>
		</div>
	</div>


	<div id="loading" *ngIf="loading">
		<div class="spinner">
		  <div class="double-bounce1"></div>
		  <div class="double-bounce2"></div>
		</div>
	</div>
</div>