<div class="col-xs-12 text-center" style="padding: 40px 0px;position: relative;">
	<img src="http://pizzaandwings.com.pa/armatupizza/assets/img/1-23.png"  alt="" style="margin-bottom: 10px">

	<h2>Duplicar o crear una nueva</h2>
	
	
	<hr class="barra-gris" style="border-bottom: 1px;"> 

	<div id="duplicate">
		<div class="item active">
			<span>Duplicar</span>
			<p>{{ cantidad }}</p>
			<div id="controls">
				<div class="left" (click)="restar()"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
				<div class="right" (click)="sumar()"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
			</div>
		</div>
		<div class="item active">
			<span>Nueva</span>
			<p>{{ new }}</p>
			<div id="controls">
				<div class="left" (click)="toggle()"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
				<div class="right" (click)="toggle()"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
			</div>
		</div>

		<div style="margin-top: 30px;">
			<a id="duplicateReady" (click)="next()" class="btn btn-primary btn-lg col-xs-4 col-xs-offset-4">Continuar</a>
		</div>
	</div>
	
	<div id="loading" *ngIf="loading">
		<div class="spinner">
		  <div class="double-bounce1"></div>
		  <div class="double-bounce2"></div>
		</div>
	</div>
</div>